:root {
    --bg-color: #000;
    --text-color: #ededed;
    --text-color-light: #fff,
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: -system-ui, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    transition: background-color 150ms ease-in-out;
}

a:hover, a:focus, a:active, a:visited {
    color: var(--text-color-light);
}
